<section header>
    <div class="header-container">
        <div class="name-container">
            <span>Cristina Jordi</span>
        </div>
        <div class="qr-code">
            <!-- <img src="../../assets/img/QR.png" alt="Open page on mobile device"> -->
        </div>
        <div class="nav-container">
            <a href="#" id="#about">About Me <span>|</span></a>
            <a href="#" id="#skills">My Skills <span>|</span></a>
            <a href="#" id="#portfolio">Portfolio <span>|</span></a>

        </div>
    </div>
</section>