<section header>
    <div class="header-container">
        <div class="name-container">
            <span><a href="#">Cristina Jordi</a></span>
        </div>
        <div class="qr-code">
            <!-- <img src="../../assets/img/QR.png" alt="Open page on mobile device"> -->
        </div>
        <div class="navi-container">
            <a href="#about-me">About Me <span>|</span></a>
            <a href="#my-skills">My Skills <span>|</span></a>
            <a href="#portfolio">Portfolio <span>|</span></a>
            <!-- <a href="#contact">Contact <span>|</span></a> -->

        </div>
    </div>

    <!-- Start Mobile Navigation -->
    <div class="offcanvas-menu">
        <input type="checkbox" id="toogle-menu" />

        <label for="toogle-menu" class="toogle-open"><span></span></label>

        <nav>
            <div class="name-container">
                <!-- <a href="#"> <i class="fab fa-css3-alt"></i>offcanvas </a> -->
                <span>Cristina Jordi</span>
                <label for="toogle-menu" class="toogle-close" #fixed>
                    <span></span>
                </label>
            </div>
            <ul>
                <li><a href="#about-me">About Me</a></li>
                <li><a href="#my-skills">My Skills </a></li>
                <li><a href="#portfolio">Portfolio </a></li>
                <li><a href="#contact">Contact </a></li>
            </ul>
        </nav>
    </div>
     <!-- End Mobile Navigation -->

</section>