<section footer>
    <div class="footer_container">
        <div class="footer_content_container">

            <div class="name_container">
                <div><span><a href="#">Cristina Jordi</a></span></div>
                <div class="imprint-laptop-version"><a routerLink="/imprint">Imprint</a></div>
            </div>

            <div class="copyright_container">
                <p>© Cristina Jordi 2023</p>
            </div>

            <div class="social_media_container">
                <a href="https://github.com/Cristina-Jordi" target="_blank"><img class="transition"
                        src="../../assets/img/references Icons_line/Github button.png"></a>
                <a href="mailto:cristina.jordi@bluewin.ch"><img class="transition"
                        src="../../assets/img/references Icons_line/Email button.png"></a>
                <a href="https://www.linkedin.com/in/cristina-jordi-16bb9562" target="_blank"><img class="transition"
                        src="../../assets/img/references Icons_line/Linkedin button.png"></a>
            </div>

            <div class="imprint"><a href="http://cristina-jordi.developerakademie.net/">Imprint</a></div>
        </div>
    </div>
</section>