<section footer>
    <div class="footer_container">
        <div class="footer_content_container">

            <div class="name_container">
                <span><a href="#">Cristina Jordi</a></span>
            </div>

            <div class="copyright_container">
                <p>© Cristina Jordi 2023</p>
            </div>

            <div class="social_media_container">
                <img class="transition" src="../../assets/img/references Icons_line/Github button.png">
                <img class="transition" src="../../assets/img/references Icons_line/Email button.png">
                <img class="transition" src="../../assets/img/references Icons_line/Linkedin button.png">
            </div>

            <div class="imprint">
                <a href="#">Imprint</a>

            </div>

        </div>
    </div>
</section>