$orange: #FA7902;
$red: #FF4747;

#about-me-anchor {
    height: 100vh;
}

// Begin About Me Section - Text

.about-me-container-flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    height: 100vh;
    margin-top: 20vh;

    .about-me-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        height: 76%;

        p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            text-align: justify;
            line-height: 122%; // ca. 19px
        }

        h2 {
            font-family: 'Poppins', sans-serif;
            color: white;
            font-weight: 700;
            font-size: max(20px, 6.3vw); // ca. 90px
            line-height: 6vw;
            margin-bottom: 2vw; // 35px
        }

        .bulb-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            img {
                width: 50px;
                object-fit: contain;
                margin-right: 30px;
            }
        }

        .puzzle-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            img {
                width: 50px;
                object-fit: contain;
                margin-right: 30px;
            }
        }
    }

    // End About Me Section - Text

    // Begin About Me Section - Round Portrait

    .ellipse-container {
        position: absolute;
        right: 12vw;
        width: 35vw;
        height: 35vw;
        display: flex;
        justify-content: flex-end;
        border-radius: 100%;
        overflow: hidden;

        .round-portrait-container {

            .portrait img {
                position: absolute;
                bottom: 1%;
                right: 3vw; // 6%
                height: 35vw; //350px
                object-fit: cover;
                z-index: 15;
            }

            .ellipse img {
                position: absolute;
                height: 35vw;
                object-fit: cover;
                z-index: 16;
                right: 0;
                top: 0;
            }
        }
    }

    .vektor-container {
        position: absolute;
        right: 0;
        z-index: 0;

        img {
            height: 4px;
            width: 12vw; //ca. 267px
        }
    }
}

// End About Me Section - Round Portrait

.background-red {
    position: absolute;
    right: 0;
    top: 96%;
    background-image: url(../../assets/img/portfolio/red_1_am.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 600px;
}


@media (max-width: 950px) {

    .about-me-container-flex {

        .about-me-container {
            width: 100%;
            padding-right: 10%;
            height: unset;

            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    .background-red {
        z-index: -1;
    }

    .round-portrait-container {
        display: none;
    }

    .vektor-container {
        display: none;
    }
}

@media (max-width: 590px) {

    .about-me-container-flex {

        .about-me-container {

            p {
                font-size: 16px;
                line-height: 21px;
            }
        }

    }
}

@media (min-width: 430px) and (max-width: 590px) {
    .about-me-container-flex {
        margin-top: 30vh;
    }
}

@media (max-width: 430px) {
    .about-me-container-flex {

        .about-me-container {
            margin-top: 400px;

            h2 {
                font-size: 45px;
                margin-bottom: 35px;
            }

            p {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

@media (max-width: 390px) {
    .about-me-container-flex {
        margin-top: 12vh;

        .about-me-container {
            margin-top: 400px;

            h2 {
                font-size: 45px;
                margin-bottom: 35px;
            }

            p {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}