<section about-me>
    <div class="about-me-container-flex" id="about-me-anchor">
        <div class="about-me-container">
            <div>
                <h2>About me</h2>
            </div>
            <p>
                Hello! I am a passionate frontend developer from Switzerland living in Sugiez, canton of Fribourg.
                The boundless possibilities of the IT industry have always fascinated me and sparked my curiosity.
                This fascination has evolved into a deep passion for designing appealing, intuitive, and user-friendly
                websites and applications.<br><br>
            </p>
            <div class="bulb-container">
                <img src="../../assets/img/about_me/bulb desktop_red.png">
                <p>
                    In my education, I see programming not just as writing code, but as a form of creative
                    problem-solving.
                    One
                    of my strengths, which I am particularly proud of, is my ability to translate complex technical
                    challenges
                    into simple and user-friendly solutions. In this way, I can support people in achieving their goals
                    and
                    turning their visions into reality.<br><br>
                </p>
            </div>

            <div class="puzzle-container">
                <img src="../../assets/img/about_me/puzzle desktop_red.png">
                <p>
                    I love being part of this dynamic industry, shaping the digital landscape, and utilizing the
                    seemingly
                    endless creativity and innovation potential of the IT sector. It's this fulfilling task that excites
                    me
                    anew for my work every day.
                </p>
            </div>
        </div>
        <div class="ellipse-container">
            <div class="round-portrait-container">
                <div class="ellipse"><img src="../../assets/img/about_me/Ellipse 1_red.png"></div>
                <div class="portrait"><img src="../../assets/img/about_me/cristina_jordi2.png" alt="Cristina Jordi">
                </div>
            </div>

        </div>
        <div class="vektor-container">
            <div><img src="../../assets/img/about_me/LINE 7_red.png"></div>
        </div>
    </div>
</section>