<div class="vector-container">
    <div class="iam-container">

        <div class="portrait-container">
            <img class="portrait-img" src="../../assets/img/i_am/cristina_jordi.png" alt="Cristina Jordi">
        </div>

        <div class="iam-text-container">
            <div>
                <span class="iam-text">I am</span>
                <div><span class="name-text">CRISTINA JORDI</span></div>
                <div><span class="FD-text">FRONTEND DEVELOPER</span></div>
            </div>

        </div>



    </div>
    <div><img class="vector-shape-img" src="../../assets/img/i_am/vector_shape_iam.png"></div>
</div>