<section i am>
    <div class="vector-container">
        <div class="iam-container">

            <div class="portrait-container">
                <img class="portrait-img" src="../../assets/img/i_am/cristina_jordi.png" alt="Cristina Jordi">
            </div>

            <div class="iam-text-container">
                <div>
                    <div class="right-space"><span class="iam-text">I am</span></div>
                    <div><span class="name-text">Cristina Jordi</span></div>
                    <div><span class="FD-text">FRONTEND DEVELOPER</span></div>
                    <button class="btn-lets-talk">Let's Talk!</button>
                </div>

            </div>

        </div>
        <div><img class="vector-shape-img" src="../../assets/img/i_am/vector_shape_iam.png"></div>

        <div>
            <div class="social-media-container">
                <img class="line-social-media" src="../../assets/img/references Icons_line/Vector 1_red.png">
                <img class="transition" src="../../assets/img/references Icons_line/Github button.png">
                <img class="transition" src="../../assets/img/references Icons_line/Email button.png">
                <img class="transition" src="../../assets/img/references Icons_line/Linkedin button.png">
                <a href="mailto:cristina.jordi@bluewin.ch" class="email"><span
                        class="mail-name">cristina.jordi@bluewin.ch</span></a>
            </div>
        </div>
        <div class="scroll-down-container">
           <div class="text-scroll-down"><span class="scroll-down">Scroll down </span></div>
            <div class="scroll-icon"><img src="../../assets/img/references Icons_line/arrow-down-line.png"></div>
        </div>
    </div>
</section>