<form (submit)="sendMail()" ngNativeValidate #myForm>
    <input type="text" name="name" required #nameField placeholder="Your name"><br><br>
    <input type="email" name="email" required placeholder="Your email"><br><br>
    <textarea type="text" name="message" required #messageField placeholder="Your message"></textarea><br>
    <button #sendButton class="btn-contact"> Send message 😊 </button>
</form>

<div class="fade-in-out" [ngClass]="{'show': formSubmitted}">
    <p class="thank-you-message">Vielen Dank für Ihre Nachricht! <br>
        Wir werden uns bald bei Ihnen melden.</p>
</div>