$orange: #FA7902;
$red: #FF4747;
$green: #50b650;

// Contact form - formatting

.contact_container {
    position: relative;
    display: flex;
    padding-left: 10%;
    flex-direction: column;
    margin-bottom: 173px;

    .title_contact {
        height: 160px;

        h2 {
            font-family: 'Poppins', sans-serif;
            color: white;
            font-weight: 700;
            font-size: max(20px, 6.3vw); // ca. 90px
            line-height: 6vw;

            height: 150px;
            display: flex;
            align-items: flex-end;
        }

        .vektor-container-contact {
            position: absolute;
            left: 0;
            top: 18%;
            z-index: 0;

            img {
                height: 4px;
                width: 8vw; //ca. 70px
            }
        }
    }

    .contact_content_container {
        display: flex;
        margin-top: 49px;
    }

    .text_contact {

        h3 {
            line-height: 26px;
            font-family: 'Poppins', sans-serif;
            color: white;
            font-weight: 700;
            // font-size: 32px;
            font-size: max(20px, 2vw); // ca. 32px
            margin-bottom: -0.5vw;
            line-height: 26px;
        }

        .text {
            font-family: 'Poppins', sans-serif;
            color: white;
            font-weight: 400;
            line-height: 19px;
            font-size: max(12px, 1.1vw); // ca. 16px
            margin-bottom: 2vw;
            text-align: justify;
        }

        .fade-in-out {
            margin-top: 50px;
            opacity: 0;
            transition: opacity 1.5s ease-in-out;
        }

        .fade-in-out.show {
            opacity: 1;
        }

        .thank-you-message {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: max(12px, 0.9vw);
            color: $red;
        }
    }

    .form_contact {
        padding-left: 7vw;
        margin-right: 10%;
        display: flex;
        justify-content: flex-end;

        .btn_container {
            display: flex;
            justify-content: center;

            .btn-contact {
                width: 253px;
                height: 58px;
                margin-left: 0;
                margin-right: 0;
            }
        }

        input {
            width: 37vw; // 517px
            height: 20px;
            border-radius: 10px;
            border: 1px solid $red;
            padding: 15px 15px 15px 15px;
            background-color: transparent;
            font-family: 'Poppins', sans-serif;
            color: white;
            font-weight: 400;
            font-size: 16px;
        }

        textarea {
            width: 37vw; // 517px
            height: 120px;
            border-radius: 10px;
            border: 1px solid $red;
            padding: 15px 15px 15px 15px;
            background-color: transparent;
            font-family: 'Poppins', sans-serif;
            color: white;
            font-weight: 400;
            font-size: 16px;
        }

        ::placeholder {
            font-family: 'Poppins', sans-serif;
            color: white;
            font-weight: 400;
            font-size: 16px;
        }
    }
}

.background-red-container {
    position: absolute;
    top: 31vw;
    left: 0;
    opacity: 0.8;
    z-index: -1;

    img {
        width: 32vw;
        height: 60vh;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid $green;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.valid-field {
    border: 1px solid $green;
}

.invalid-field {
    border: 1px solid $red;
}

// Begin To top Button Formatting

.top-btn {
    // position: fixed;
    position: absolute;
    bottom: -22%;
    right: 4%;
    z-index: 90;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }
}

.top-btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15px;
    object-fit: cover;
}

.top-btn:before {
    border-radius: 100%;
    border: 2px solid white;
    background-color: transparent;
    transition: all 200ms ease-in-out;
}

// End To top Button Formatting


@media (max-width: 950px) {

    .contact_content_container {
        flex-direction: column;

        .form_contact {
            padding-left: 0;
            display: flex;
            justify-content: flex-start;
        }
    }

    .contact_container {

        .text_contact {
            margin-top: 50px;

            .text {
                line-height: 21px;
                font-size: max(12px, 1.7vw);
                margin-bottom: -30px;
                width: 90%;
            }

        }

        .title_contact {
            height: 92px;
            margin-top: 8vh;

            .vektor-container-contact {
                top: 20.5%;

                img {
                    width: 8vw; // ca. 20px
                }
            }
        }

        .form_contact {

            input,
            textarea {
                width: 75vw;
            }
        }
    }

    .top-btn {
        bottom: -15%;

        img {
            height: 19px;
        }
    }

    .background-red-container {
        z-index: -1;
        top: 71vw; // 557px;
        width: 45vw; // 434px;
        height: 63vh; // 550px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 850px) {

    .contact_container {

        .contact_content_container {
            margin-bottom: -80%;
        }

        .background-red-container {
            z-index: -1;
            top: 24vw;
            position: relative;
            margin-left: -15%;
            background-size: 500px;
            width: 100%;
        }
    }

    .top-btn {
        position: relative;
        left: 45vw;
    }

}

@media (max-width: 770px) {
    .contact_container {
        .background-red-container {
            z-index: -1;
            top: 45vw;
            position: relative;
            margin-left: -15%;
            background-size: 500px;
            width: 100%;

            img {
                width: 32vw;
                height: 41vh;
            }
        }
    }
}

@media (max-width: 740px) {
    .contact_container {
        .background-red-container {
            z-index: -1;
            top: 60vw;
            position: relative;
            margin-left: -15%;
            background-size: 500px;
            width: 100%;

            img {
                width: 32vw;
                height: 41vh;
            }
        }
    }
}

@media (max-width: 720px) {
    .contact_container {
        .background-red-container {
            z-index: -1;
            top: 48vw;
            position: relative;
            margin-left: -15%;
            background-size: 500px;
            width: 100%;

            img {
                width: 32vw;
                height: 41vh;
            }
        }
    }
}

@media (min-width: 615px) and (max-width: 717px) {
    .contact_container {
        .background-red-container {
            z-index: -1;
            top: 65vw;
            position: relative;
            margin-left: -15%;
            background-size: 500px;
            width: 100%;

            img {
                width: 32vw;
                height: 41vh;
            }
        }
    }
}

@media (max-width: 615px) {

    .contact_container {
        .background-red-container {
            z-index: -1;
            top: 65vw;
            position: relative;
            margin-left: -15%;
            background-size: 500px;
            width: 100%;

            img {
                width: 32vw;
                height: 41vh;
            }
        }
    }
}

@media (max-width: 590px) {
    .contact_container {
        margin-bottom: 12px;

        .title_contact {
            .vektor-container-contact {
                top: 17%;
                font-size: max(12px, 2.5vw);
            }
        }

        .text_contact {
            .text {
                line-height: 21px;
                font-size: max(12px, 2.5vw);
            }
        }

        .background-red-container {
            z-index: -1;
            top: 39vw;
            position: relative;
            margin-left: -15%;
            background-size: 500px;
            width: 100%;

            img {
                width: 32vw;
                height: 41vh;
            }
        }

        .top-btn {
            position: relative;
            top: 468px;
        }
    }
}

@media (max-width: 430px) {

    .contact_container {
        .title_contact {
            margin-top: unset;

            h2 {
                font-size: 45px;
            }

            .vektor-container-contact {
                top: 14%;
                height: 53px;

                img {
                    width: 20px;
                    height: 4px;
                }
            }
        }

        .text_contact {
            h3 {
                font-size: 23px;
            }

            .text {
                font-size: 16px;
                line-height: 19.2px;
                text-align: unset;
            }
        }

        .form_contact {
            justify-content: center;
            margin-top: -10%;

            .btn_container {
                .btn-contact {
                    width: 195px;
                    height: 49px;
                    font-size: 17px;
                }
            }
        }

        .background-red-container {
            top: 65vw;
            overflow: hidden;

            img {
                width: 80vw;
                height: 40vh;

            }
        }

        .contact_content_container {
            margin-bottom: -129%;
        }
    }

    .top-btn {
        left: 160px;
        top: 478px;
    }

}

@media (max-width: 390px) {

    .contact_container {
        .title_contact {
            margin-top: unset;

            h2 {
                font-size: 45px;
            }

            .vektor-container-contact {
                top: 11%;
                height: 53px;

                img {
                    width: 20px;
                    height: 4px;
                }
            }
        }

        .text_contact {
            h3 {
                font-size: 23px;
            }

            .text {
                font-size: 16px;
                line-height: 19.2px;
                text-align: unset;
            }
        }

        .form_contact {
            justify-content: center;
            margin-top: -10%;

            .btn_container {
                .btn-contact {
                    width: 195px;
                    height: 49px;
                    font-size: 17px;
                }
            }
        }

        .background-red-container {
            top: 72vw;
            overflow: hidden;

            img {
                width: 80vw;
                height: 40vh;

            }
        }

        .contact_content_container {
            margin-bottom: -129%;
        }
    }

    .top-btn {
        left: 132px;
        top: 486px;
    }
}