$orange: #FA7902;
$red: #FF4747;

@media (min-width: 950px) {

    #portfolio-anchor {
        height: 100vh;
    }

    #portfolio-anchor {
        height: 100vh;
    }

    .portfolio-container-flex {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -240px;
        margin-bottom: 50px;

        .container-line-6 {

            img.line-6 {
                width: 109px;
                height: 4px;
            }
        }

        .container-line-4 {

            img.line-4 {
                // width: 520px;
                width: 33vw;
                height: 4px;
            }
        }

        .container-text-portfolio {
            display: flex;
            align-items: flex-end;
            height: 180px;
            //  border: 1px solid white;

            p {
                display: flex;
                font-family: 'Poppins', sans-serif;
                color: white;
                font-weight: 700;
                font-size: max(20px, 6.3vw); // ca. 90px
                margin-right: 20px;
                margin-left: 20px;
                margin-bottom: 3px;
            }
        }
    }

    .portfolio-container-text {
        margin-bottom: 145px;
        display: flex;
        justify-content: flex-end;

        p {
            font-family: 'Poppins', sans-serif;
            color: white;
            font-weight: 400;
            text-align: center;
            line-height: 19px;
            font-size: max(12px, 1.1vw); // ca. 16px
            width: 100%;
        }
    }

    // Begin Portfolio Section - Grid System

    .mobile-container-portfolio {
        display: none;
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        color: $red;
        font-weight: 700;
        margin-bottom: 1.5vw;
        font-size: max(15px, 2.52vw); // ca. 32px

    }

    .title-grid {
        font-family: 'Poppins', sans-serif;
        color: $orange;
        font-weight: 400;
        margin-bottom: 1.3vw;
        line-height: 27px;
        font-size: max(13px, 1.83vw); // ca. 23px
    }

    .text-portfolio {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 400;
        margin-bottom: 19px;
        line-height: 23px;
        font-size: max(12px, 1.25vw); // ca. 16px
    }

    .grid-container-format {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 30px;
        width: 80%;
    }

    .grid-item {
        margin-bottom: 100px;
    }

    .img-right {
        height: 23vw;
        object-fit: cover;
        margin-top: -42px;
        transform: scaleX(-1);
    }

    .img-left {
        height: 23vw;
        object-fit: cover;
        margin-top: -38px;
    }

    // End Portfolio Section - Grid System


    // Button Formatting
    .btn-right-portfolio {
        display: flex;
        justify-content: space-between;
        width: 70%;
        gap: 10%;

        button {
            margin-top: 20px;
            margin-left: 0;
        }
    }

    .btn-left-portfolio {
        display: flex;
        // justify-content: space-between;
        justify-content: flex-end;
        // width: 70%;
        margin-left: 98px;
        margin-right: 0;
        // gap: 10%;
        gap: 16%;

        button {
            margin-top: 20px;
            margin-left: 0;
        }
    }

    .btn-bg-left {
        width: 10.75vw;
        min-width: 100px;
        height: 3.75vw;
        min-height: 35px;
        border-radius: 2vw;
        font-size: max(13px, 1.5vw);

        &:before {
            background-color: $red;
        }
    }

    .btn-bg-right {
        width: 10.75vw;
        min-width: 100px;
        height: 3.75vw;
        min-height: 35px;
        border-radius: 2vw;
        font-size: max(13px, 1.5vw);

        &::before {
            background-color: transparent;
            border: 1px solid $orange;
        }
    }

    .background-red-portfolio {
        position: absolute;
        left: 0;
        top: 40%;
        background-image: url(../../assets/img/portfolio/red_2_p.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 636px;
        height: 773px;
        z-index: -1;
        opacity: 0.7;
    }

    .background-orange-portfolio {
        position: absolute;
        right: 0;
        bottom: -4%;
        background-image: url(../../assets/img/portfolio/orange_2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 382px;
        height: 1006px;
        z-index: -1;
    }
}

@media (max-width: 950px) {

    .portfolio-container-flex {
        margin-top: 464px;
        display: flex;
        justify-content: flex-end;
        height: 160px;
        align-items: flex-end;

        .container-text-portfolio {
            p {
                margin-top: 5px;
                display: flex;
                font-family: 'Poppins', sans-serif;
                color: white;
                font-weight: 700;
                font-size: max(20px, 6.3vw); // ca. 90px
                margin-right: 20px;
                margin-left: 20px;
            }
        }

        .container-line-4 {
            width: unset;

            img.line-4 {
                width: 33vw;
                height: 4px;
            }
        }

        .container-line-6 {
            width: unset;

            img.line-6 {
                width: 20px;
                height: 4px;
            }
        }
    }

    .portfolio-container-text {
        display: flex;
        justify-content: center;

        p {
            font-size: max(12px, 1.9vw); // ca. 16px
            line-height: 75px;
        }
    }

    .background-red-portfolio {
        z-index: -1;
    }

    // Start Grid System formatting

    .grid-container-format {
        display: none;
    }

    .mobile-container-portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;

        .portfolio-img {
            display: flex;
            justify-content: center;

            img {
                width: 65%;
                object-fit: cover;
                margin-bottom: 20px;
                margin-top: 15%;
                margin-left: 5%;
            }
        }

        // .flip-horizontally {

        //     img {
        //         transform: scaleX(-1);
        //     }
        // }

        .portfolio-text {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-family: 'Poppins', sans-serif;
                color: $red;
                font-weight: 700;
                margin-bottom: 20px;
                font-size: max(15px, 3.2vw); // ca. 32px
            }

            .title-portofolio,
            p {
                font-family: 'Poppins', sans-serif;
                color: $orange;
                font-weight: 400;
                margin-bottom: 20px;
                font-size: max(13px, 2.45vw); // ca. 23px
            }

            .text-portfolio {
                font-family: 'Poppins', sans-serif;
                color: white;
                font-weight: 400;
                text-align: center;
                // margin-bottom: 19px;
                line-height: 21px;
                font-size: max(12px, 1.7vw); // ca. 16px
            }

            .btn-portfolio {
                display: flex;
                justify-content: center;
                width: 80%;

                .btn-live-test {
                    background-color: $red;
                    margin-left: 0;
                    width: 20.3vw;
                    min-width: 100px;
                    height: 6.5vw;
                    min-height: 35px;
                    border-radius: 2vw;
                    font-size: max(13px, 2.45vw);
                }

                .btn-live-test {
                    &:before {
                        background-color: $red;
                    }
                }

                .btn-github {
                    background-color: transparent;
                    margin-left: 27%;
                    width: 20.3vw;
                    min-width: 100px;
                    height: 6.5vw;
                    min-height: 35px;
                    border-radius: 2vw;
                    font-size: max(13px, 2.45vw);
                }

                .btn-github {
                    &:before {
                        background-color: transparent;
                        border: 1px solid $orange;
                    }
                }
            }
        }
    }

    // End Grid System formatting

}

@media (max-width: 590px) {

    .portfolio-container-flex {
        margin-top: -40px;
        display: flex;
        justify-content: flex-end;
        height: 160px;
        align-items: flex-end;
    }

    .mobile-container-portfolio {

        .portfolio-img {
            img {
                width: 80%;
            }
        }

        .portfolio-text {

            h3 {
                line-height: 21px;
                font-size: max(12px, 4vw);
                margin-bottom: -1%;
            }

            .text-portfolio {
                line-height: 21px;
                font-size: max(12px, 2.5vw);
            }

            p {
                line-height: 21px;
                font-size: max(12px, 3vw);
                margin-top: 20px;
                margin-bottom: -1%;
            }
        }
    }

    .portfolio-container-text {
        p {
            font-size: max(12px, 2.5vw);
            line-height: 19px;
            margin-bottom: -10%;
            margin-top: 15px;
        }
    }

}

@media (max-width: 430px) {
    .mobile-container-portfolio {
        .portfolio-img {
            img {
                width: 111%;

            }
        }

        .portfolio-text {
            margin-bottom: 60px;

            h3 {
                font-size: 32px;
                margin-bottom: -1%;
            }

            p {
                line-height: 27.6px;
                font-size: 23px;
                text-align: center;
            }

            .text-portfolio {
                line-height: 19.2px;
                font-size: 16px;
            }

            .btn-portfolio {
                .btn-live-test {
                    width: 152px;
                    height: 48px;
                    font-size: 19px;
                }

                .btn-github {
                    margin-left: 12%;
                    width: 137px;
                    height: 48px;
                    font-size: 19px;
                }
            }
        }
    }

    .portfolio-container-text {

        p {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 2%;
            margin-top: 4px;
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
        }
    }

    .portfolio-container-flex {
        margin-top: 9px;

        .container-line-4 {
            height: 53px;
            margin-left: -7px;

            img.line-4 {
                width: 75px;
                height: 4px;
            }
        }

        .container-line-6 {
            height: 53px;
            margin-right: -8px;

            img.line-6 {
                width: 20px;
                height: 4px;
            }
        }

        .container-text-portfolio {
            p {
                font-size: 45px;
                margin-bottom: 35px;
            }
        }
    }
}

@media (max-width: 390px) {

    .mobile-container-portfolio {
        .portfolio-img {
            img {
                width: 111%;

            }
        }

        .portfolio-text {
            margin-bottom: 60px;

            h3 {
                font-size: 32px;
                margin-bottom: -1%;
            }

            p {
                line-height: 27.6px;
                font-size: 23px;
                text-align: center;
            }

            .text-portfolio {
                line-height: 19.2px;
                font-size: 16px;
            }

            .btn-portfolio {
                .btn-live-test {
                    width: 152px;
                    height: 48px;
                    font-size: 19px;
                }

                .btn-github {
                    margin-left: 12%;
                    width: 137px;
                    height: 48px;
                    font-size: 19px;
                }
            }
        }
    }

    .portfolio-container-text {

        p {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 2%;
            margin-top: 4px;
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
        }
    }

    .portfolio-container-flex {
        margin-top: 9px;

        .container-line-4 {
            height: 53px;
            margin-left: -7px;

            img.line-4 {
                width: 75px;
                height: 4px;
            }
        }

        .container-line-6 {
            height: 53px;
            margin-right: -8px;

            img.line-6 {
                width: 20px;
                height: 4px;
            }
        }

        .container-text-portfolio {
            p {
                font-size: 45px;
                margin-bottom: 35px;
            }
        }
    }
}