<section my-skills>
    <div id="my-skills">
        <div class="my-skills-container">
            <div class="skills-icons-container">
                <img src="../../assets/img/my_skills/angular.png" alt="Angular">
                <img src="../../assets/img/my_skills/typescript.png" alt="TypeScript">
                <img src="../../assets/img/my_skills/javascript.png" alt="JavaScript">
                <img src="../../assets/img/my_skills/html.png" alt="HTML">
                <img src="../../assets/img/my_skills/firebase.png" alt="Firebase">
                <img src="../../assets/img/my_skills/git.png" alt="GitHub">
                <img src="../../assets/img/my_skills/css.png" alt="CSS/SCSS">
                <img src="../../assets/img/my_skills/api.png" alt="API">
                <img src="../../assets/img/my_skills/scrum.png" alt="Scrum">
                <img src="../../assets/img/my_skills/material-design.png" alt="Material Design">
            </div>

            <div class="background-orange-my-skills"></div>

            <div class="text-my-skills">
                <h2>My skills</h2>
                <p>I have grown my frontend developments skills that have allowed me to create different real
                    projects.
                </p>
                <div class="button-center"> <button class="another-btn">Get in Touch!</button></div>

                <div class="vektor-container-my-skills">
                    <div><img src="../../assets/img/my_skills/vector_1_red.png"></div>
                </div>
            </div>
        </div>
    </div>
</section>