$orange: #FA7902;
$red: #FF4747;

#my-skills {
    height: 100vh;
}

.my-skills-container {
    position: relative;
    top: 120px;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10%;

    // Grid Icons Container
    .skills-icons-container {
        position: relative;
        height: 100%;
        width: 43%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 50px;

        img {
            width: 80px;
            object-fit: cover;
            transition-duration: 125ms;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
            transition-property: all;

            &:hover {
                transform: translateY(-10px);
            }
        }
    }

    // End My Skills Section - Icons Grid

    // Begin My Skills Section - Text and Button

    .text-my-skills {
        margin-top: 15px;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin-right: 10%;

        h2 {
            font-family: 'Poppins', sans-serif;
            color: white;
            font-weight: 700;
            font-size: max(20px, 6.3vw); // ca. 90px
            margin-bottom: 4vw;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: max(12px, 1.25vw); // ca. 16px
            line-height: 23px;
            text-align: right;
            margin-top: 8%;
        }

        .button-center {
            width: 100%;
            display: flex;
            align-self: center;
            justify-content: center;
            margin-top: 7%;

            .another-btn {
                margin-top: 30px;
                margin-left: 0;
                width: 200px;
            }
        }

        .vektor-container-my-skills {
            position: absolute;
            top: 25px;
            right: 0;
            z-index: 0;

            img {
                height: 4px;
                width: 7vw; //ca. 58px
            }
        }
    }
}

// End My Skills Section - Text and Button

.background-orange-my-skills {
    position: absolute;
    left: 0;
    top: 10%;
    background-image: url(../../assets/img/my_skills/orange_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 261px;
    height: 666px;
    z-index: -1;
}


@media (max-width: 950px) {
    .my-skills-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: -220px;
        padding-left: 0;

        .background-orange-my-skills {
            z-index: -1;
        }

        .skills-icons-container {
            margin-top: 80px;
            position: relative;
            height: 100%;
            width: 80%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-left: 10%;
            margin-right: 10%;
            gap: 18%;
            margin-bottom: 18%;

        }

        .skills-icons-container img {
            width: 10vw;
            object-fit: cover;
            transition-duration: 125ms;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
            transition-property: transform;
        }

        .skills-icons-container img:hover {
            transform: translateY(-10px);
        }

        .text-my-skills {
            width: 90%;

            .another-btn {
                position: absolute;
                top: 103%;
                margin-left: unset;
            }

            p {
                font-size: 16px;
                margin-top: 0;
                width: 90%;
            }
        }

        .vektor-container-my-skills,
        .vektor-my-skills {
            width: 8vw !important;
            margin-top: -33px;
            position: absolute;
            top: 74px;
        }
    }
}

@media (min-width: 590px) and (max-width: 950px) {
    .my-skills-container {
        .skills-icons-container {
            margin-top: unset;
            gap: 14%;

            img {
                width: 12vw;
            }
        }
    }
}

@media (min-width: 430px) and (max-width: 950px) {
    .my-skills-container {
        .text-my-skills {
            .button-center {
                .another-btn {
                    margin-left: -67px;
                }
            }
        }
    }
}


@media (max-width: 590px) {

    .my-skills-container {

        .text-my-skills {
            p {
                font-size: 16px;
                line-height: 21px;
            }
        }

        .skills-icons-container {
            margin-top: 16px;
            gap: 12%;

            img {
                width: 13vw;
            }
        }
    }
}

@media (min-width: 430px) and (max-width: 500px) {

    .my-skills-container {
        margin-top: -25%;
    }
}

@media (max-width: 430px) {
    .my-skills-container {
        margin-top: 144px;

        .text-my-skills {

            h2 {
                font-size: 45px;
                margin-bottom: 35px;
            }

            p {
                font-size: 16px;
                line-height: 19px;
            }

            .button-center {

                .another-btn {
                    margin-top: 150px;
                    margin-left: -80px;
                    top: 84%;
                }
            }
        }

        .background-orange-my-skills {
            left: -48px;
            top: 86%;
            width: 198px;
            height: 630px;
        }

        .skills-icons-container {
            margin-top: 16px;
            gap: 6%;

            img {
                width: 17vw;
            }
        }
    }
}

@media (max-width: 390px) {

    .my-skills-container {
        margin-top: 174px;

        .text-my-skills {

            h2 {
                font-size: 45px;
                margin-bottom: 35px;
            }

            p {
                font-size: 16px;
                line-height: 19px;
            }

            .button-center {
                position: relative;
                width: unset;
                margin-right: 34%;

                .another-btn {
                    margin-top: 340px;
                }
            }
        }

        .background-orange-my-skills {
            left: -48px;
            top: 86%;
            width: 198px;
            height: 630px;
        }

        .skills-icons-container {
            margin-top: 16px;
            gap: 6%;

            img {
                width: 17vw;
            }
        }
    }
}