.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.top-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    object-fit: cover;
}

button.top-button:before {
    background-color: transparent;
    border: 1px solid #fa7902;
    border-radius: 5px;
}