.imprint-container {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 67px;

    h2 {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 700;
        font-size: max(20px, 6.3vw); // ca. 90px
        line-height: 6vw;
        margin-bottom: 2vw; // 35px
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 700;
        font-size: max(15px, 1.2vw);
        margin-bottom: 0;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: max(12px, 0.9vw);
    }

    .imprint {
        font-size: 0.8rem;
        margin-left: 0;

        span {
            color: rgb(221, 114, 15);
        }

        a {
            color: white;
            text-decoration: none;
            position: relative;

            &:hover {
                color: rgb(221, 114, 15);

                span {
                    color: rgba(221, 114, 15, 0)
                }
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 1px;
                background-color: rgb(221, 114, 15);
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.5s ease-in-out;
            }

            &:hover::after {
                transform: scaleX(1);
                width: 100%;
            }
        }
    }
}

@media (max-width: 390px) {

    .imprint-container {
        margin-bottom: 0px;
        margin-top: 24%;
    }
}