/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../src/assets/fonts/Poppins-Black.ttf') format('truetype');
}

$bg-color: rgb(20, 29, 47);

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: $bg-color;
    color: #FFFFFF;
    background-image: url('../src/assets/img/about_me/Red\ 1\ AM.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin-top: 100px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

// Button format

button {
    position: relative;
    font-size: 23px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    width: 165px;
    height: 58px;
    z-index: 1;
    background-color: transparent;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 150px;
    text-decoration: none;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background-color: #FA7902;
        border-radius: 10px;
        transition: all 300ms ease-in-out;
    }

    &:hover::before {
        transition: all 300ms ease-in-out;
        transform: scale(1.1);
    }
}